a,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
center,
dd,
details,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-tap-highlight-color: transparent;
    font-family: "Montserrat",sans-serif;
}

:after,
:before {
    box-sizing: border-box
}

a {
    color: inherit;
    text-decoration: none;
    outline: 0
}

img {
    width: 100%;
    height: auto;
    display: block
}

:focus {
    outline: 0;
    box-shadow: none
}

a:hover {
    cursor: pointer
}

button {
    display: inline-block;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border-radius: 0;
    line-height: normal;
    outline: 0;
    box-shadow: none;
    font-family: inherit;
    font-weight: inherit
}

a:focus,
a:hover,
button:focus,
button:hover {
    outline: 0;
    cursor: pointer
}

ul {
    list-style: none
}

li a {
    display: block
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #000;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    background: #fff;
    transition: background-color .25s ease, color .25s ease
}

.main {
    min-height: 100%;
    overflow: hidden
}

.main-inner-wrap {
    height: 100%
}


@font-face {
    font-family: "Montserrat";
    src: url("./../fonts/Montserrat-Medium.woff2") format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("./../fonts/Montserrat-SemiBold.woff2") format('woff2');
    font-weight: 600;
}


@font-face {
    font-family: "Montserrat";
    src: url("./../fonts/Montserrat-Bold.woff2") format('woff2');
    font-weight: 700;
}